body {
    background-color: #E7EAED;
    height: 100%;
    width: 100%;
}
.supder-absolute {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color:#2c71b6;
    color:aliceblue;
    right: 5px;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.section-card {
    max-width: 50%;
    margin: 20px;
}
.span-tag {
    margin: 5px;
    background-color: #D6DBDF;
    border-radius:15px;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.centered-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-card-left-img {
    width: 35%;
    border-radius: '30px';
    /* position: absolute; */
}


/*Profile Card 5*/
.profile-card-5{
    margin-bottom:40px;
}

.profile-card-5 p{
    font-size:16px;
    font-weight:300;
}
